---

BasedOnStyle: LLVM

# Language and Standard
Language: Cpp
Standard: c++11

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false

# Line Length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Always
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: false
  AfterExternBlock: true

# Spacing
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceAfterTemplateKeyword: true

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Pointer and Reference Alignment
PointerAlignment: Right
DerivePointerAlignment: false

# Functions
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

# Breaking
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true

# Includes
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  # MSP430 hardware headers
  - Regex: '<msp430.*\.h>'
    Priority: 1
  # Standard C library headers
  - Regex: '<.*\.h>'
    Priority: 2
  # C++ standard library headers
  - Regex: '<.*>'
    Priority: 3
  # Project headers
  - Regex: '".*"'
    Priority: 4

# Other
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
ReflowComments: true
SortIncludes: true

# Penalties (fine-tuning line breaks)
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

# Comments and Documentation
CommentPragmas: '^ IWYU pragma:'
